/* Map */
.Map {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

/* Nav */
.Navbar {
  width: 100%;
  height: 100%;
  position: relative;
  background: #32668C;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
  box-sizing: border-box;
}

.nav-links {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.nav-links div {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links div:hover {
  border-bottom: 2px solid white;
}

.nav-links div.active,
.nav-links div.active a {
  color: #01FFFF;
  border-bottom: 2px solid #01FFFF;
}

.nav-links div.login.active,
.nav-links div.logout.active {
  color: #01FFFF;
  border-bottom: 2px solid #01FFFF;
}

.nav-links div a {
  color: white;
  text-decoration: none;
}

.Logo {
  width: 32px;
  height: 34.01px;
  left: 53px;
  top: 15px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  display: inline-flex;
}

.Dignity {
  width: 143px;
  height: 22px;
  left: 97px;
  top: 20px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

/* Sign in/out */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container {
  margin-bottom: 16px;
  max-width: 280px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 8px;
}

button {
  background-color: #007bff;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button {
  background-color: #dc3545;
  z-index: 1;
}

/* Creator */
.creator-content {
  text-align: center;
}

.creator-header {
  font-size: 2rem;
  color: #32668C;
}

.creator-desc {
  color: #4F9DD6;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.creator-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator-form iframe {
  margin: 0;
  border: 0;
  width: 75vw;
  height: 75vh;
}

@media (min-width: 50rem) {

  /* Map */

  /* Navigation */
  .Dignity {
    font-size: 1.3rem;
  }
  .nav-links {
    display: inline-flex;
    gap: 3rem;
    font-size: 1.3rem;
  }

  /* Creator */
  .creator-header {
    font-size: 3rem;
  }

  .creator-desc {
    font-size: 2rem;
  }

  .creator-form iframe {
    width: 75vw;
  }

}