.Map {
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
}

.nav-links div.active {
  color: #01FFFF;
  border-bottom: 2px solid #01FFFF;
  transition: border-bottom 0.3s ease;
}